[submodule "software/PyCmdMessenger"]
	path = software/PyCmdMessenger
	url = git@github.com:khutson/PyCmdMessenger.git
[submodule "software/Arduino-CmdMessenger"]
	path = software/Arduino-CmdMessenger
	url = git@github.com:khutson/Arduino-CmdMessenger.git
